<div id="academy-courses" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">school</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                🇨🇷 ESTADISTICAS POLICIALES 2015 - 2019 🇨🇷
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                Fuente: Datos Abiertos Poder Judicial
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="graphic-data">
            <ngx-charts-line-chart
                [results]="totalCrimePerAge.data"
                [autoScale]="totalCrimePerAge.autoscale"
                [animations]="totalCrimePerAge.animations"
                [xAxis]="totalCrimePerAge.xAxis.show"
                yAxis="true"
            ></ngx-charts-line-chart>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
