<div class="page-layout simple">

    <!-- HEADER -->
    <div class="header p-16 p-sm-24 mat-elevation-z5" fxLayout="column" fxLayoutAlign="center center">

        <div class="header-text">
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                ESTADISTICAS POLICIALES
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                Fuente: Datos Abiertos Poder Judicial
            </h3>
        </div>

    </div>

    <!-- ---------------------- -->
    <!-- CONTENT -->
    <div class="content">

        <span class="title">CANTIDAD DE DÉLITOS POR TIPO</span>

        <div class="graphic-data">
            <ngx-charts-bar-vertical-stacked
                scheme="flame"
                [results]="chart.data"
                [animations]="chart.animations"
                [legend]="chart.legend.show"
                [xAxis]="chart.xAxis.show"
                [yAxis]="chart.yAxis.show"
                [showYAxisLabel]="chart.yAxis.showLabel"
                [yAxisLabel]="chart.yAxis.label"
                legendTitle="Tipo de Delitó">
            </ngx-charts-bar-vertical-stacked>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
